{% extends 'admin/change_list.html' %}
{% block content_title %}
    <h1> Patient Data Dashboard </h1>
{% endblock %}
{% load static %}
{% block result_list %}
<div class=”results”>
    <table>
        
    <thead>
      <tr>
        <th>
          <div class=”text”>
            <a href=”#”>Workup PK</a>
          </div>
        </th>
        <th>
          <div class=”text”>
            <a href=”#”>BP</a>
          </div>
        </th>
        <th>
          <div class=”text”>
            <a href=”#”>Ethnicity</a>
          </div>
        </th>
        <th>
          <div class=”text”>
            <a href=”#”>
              <strong>Age</strong>
            </a>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      {% for dict_item in data %}
      <tr class="{% cycle 'row1' 'row2' %}">
        <td> {{ dict_item.workup }} </td>
        <td> {{ dict_item.bp }} </td>
        <td> {{ dict_item.ethnicities }} </td>
        <td> {{ dict_item.age }} </td>
        
      </tr>
      
      {% endfor %}
    </tbody>
    
  </table>
</div>
{% endblock %}
{% block pagination %}{% endblock %}